@use "variables";

/**
 * CONTENTS
 * ========
 * 00. BODY.BLOGPOSTS
 * 01. TO TOP BUTTON DESIGN
 * 02. RESPONSIVE DESIGN
 */

/**
 * 00. BODY.BLOGPOSTS
 * ==================
 */

body.blogposts {
    flex-direction: column;
    width: 40%;

    p {
        text-align: justify;
        margin: 10px;
        width: 100%;
        word-spacing: 2px;
    }

    h1 {
        color: variables.$text-secondary;
        padding-top: 50px;
        width: 100%;
        text-align: left;
    }

    h3 {
        color: variables.$text-primary;
        padding-left: 0px;
        margin-top: -25px;
        width: 100%;
        text-align: right;
    }

    h2 {
        margin-bottom: 0px;
        width: 100%;
        text-align: left;
    }

    pre {
        background: variables.$divider;
        border: 1px solid variables.$divider;
        color: variables.$text-primary;
        page-break-inside: avoid;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        width: 90%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        border-left: 3px solid variables.$accent;
    }

    img,
    iframe {
        width: 100%;
        border-radius: 3%;
        box-shadow: 0px 2px 4px 0px variables.$shadow;
    }

    iframe {
        height: 540px;
    }

    /**
     * 01. TO TOP BUTTON DESIGN
     * ========================
     */

    .toTop {
        display: none;
        margin-top: 5px;
        margin-bottom: 10px;
        float: right;
        border: 1px solid variables.$background;
        background-color: variables.$background;
        color: variables.$text-primary;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        font-size: 14px;

        &:hover {
            border: 1px solid variables.$background-secondary;
            background-color: variables.$background-secondary;
            transition: 0.3s;
        }
    }
}

/**
 * 02. RESPONSIVE DESIGN
 * =====================
 */

@media only screen and (max-width: 1500px) {
    body.blogposts {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    body.blogposts {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    body.blogposts {
        font-size: 18px;
        width: 80%;

        p {
            word-spacing: 1px;
        }

        pre,
        blockquote {
            width: 85%;
        }

        .toTop {
            border: 1px solid variables.$background-secondary;
            background-color: variables.$background-secondary;
        }
    }
}
