@use "variables";

/**
 * CONTENTS
 * ========
 * 00. STANDARD STYLING
 * 01. NAVBAR
 * 02. RESPONSIVE DESIGN
 */

/**
 * 00. STANDARD STYLING
 * ====================
 */

html,
body {
    overflow-y: auto;
    overflow-x: hidden !important;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin: 0px;
}

body {
    background: variables.$background;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    color: variables.$header;
}

p {
    color: variables.$text-primary;
    font-size: 20px;

    a {
        text-decoration: underline;
        text-decoration-color: variables.$text-primary;

        &:hover {
            text-decoration-color: variables.$accent;
        }
    }
}

li {
    list-style-type: none;
    font-weight: bold;
}

a {
    color: variables.$text-secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: variables.$text-primary;
    }
}

/**
 * 01. NAVBAR STYLING
 * ==================
 */

header.navbar {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: top 0.5s;
    font-size: 25px;

    a {
        color: variables.$text-secondary;
        display: block;
        float: right;
        padding: 14px 10px;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: variables.$accent;
        }
    }

    .linksWidth {
        width: 80%;
    }

    .current {
        a {
            color: variables.$accent;
            text-decoration: none;
        }
    }

    .socials {
        width: 20px;
        padding: 4px;
    }
}

/*
 * 02. RESPONSIVE DESIGN
 * =====================
 */

@media only screen and (max-width: 2000px) {
    p {
        font-size: 17px;
    }

    header.navbar {
        font-size: 20px;

        .linksWidth {
            width: 85%;
        }

        .socials {
            padding: 2px;
        }
    }
}

@media only screen and (max-width: 1500px) {
    p {
        font-size: 16px;
    }

    header.navbar {
        font-size: 18px;

        .linksWidth {
            width: 85%;
        }

        .socials {
            width: 18px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 18px;
    }

    header.navbar {
        .linksWidth {
            width: 95%;
        }
    }
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 16px;
    }

    header.navbar {
        .linksWidth {
            width: 100%;
        }

        .socials {
            padding: 1px;
        }
    }
}
