{{ define "Content" }}
<main class="aboutme">
    {{ block "About" . }}{{ end }}
    <hr class="divider">
    {{ block "Blog" . }}{{ end }}
    <hr class="divider">
    {{ block "Links" . }}{{ end }}
</main>
{{ end }}
