/*
 * CONTENTS
 * ========
 * 00. STANDARD STYLING
 * 01. NAVBAR
 * 02. RESPONSIVE DESIGN
 */

/*
 * 00. STANDARD STYLING
 * ====================
 */

html,
body {
    overflow-y: auto;
    overflow-x: hidden !important;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin: 0px;
}

body {
    background: #111016;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    color: #faf9f6;
}

p {
    color: #c8c7c4;
    font-size: 20px;
}

li {
    list-style-type: none;
    font-weight: bold;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

p a {
    text-decoration: underline;
    text-decoration-color: #c8c7c4;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #c8c7c4;
}

p a:hover {
    text-decoration: underline;
    text-decoration-color: #8caaee;
}

/*
 * 01. NAVBAR STYLING
 * ==================
 */

.navbar {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: top 0.5s;
    font-size: 25px;
}

.navbar a {
    color: #f0f0f0;
    display: block;
    float: right;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #8caaee;
}

.navbar .linksWidth {
    width: 80%;
}

.navbar .current a {
    color: #8caaee;
    text-decoration: none;
}

.navbar .socials {
    width: 20px;
    padding: 4px;
}

/*
 * 02. RESPONSIVE DESIGN
 * =====================
 */

@media only screen and (max-width: 2000px) {
    p {
        font-size: 17px;
    }

    .navbar {
        font-size: 20px;
    }

    .navbar .linksWidth {
        width: 85%;
    }

    .navbar .socials {
        padding: 2px;
    }
}

@media only screen and (max-width: 1500px) {
    p {
        font-size: 16px;
    }

    .navbar {
        font-size: 18px;
    }

    .navbar .linksWidth {
        width: 85%;
    }

    .navbar .socials {
        width: 18px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 18px;
    }

    .navbar .linksWidth {
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .navbar .linksWidth {
        width: 100%;
    }

    .navbar .socials {
        padding: 1px;
    }

    p {
        font-size: 16px;
    }
}
