.wrapper {
  padding-top: 150px;
  flex-direction: row;
  max-width: 60%;
  min-width: 600px;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/* About me conent */
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile, .aboutme{    
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 20px, 5px;
  max-width: 40%;
  text-align: justify;
}

.profile{
  align-items: center;
  padding-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.profile img{
  width: 275px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px #00000080;
}

.aboutme {
  padding-left: 150px;
  align-items: left;
}

.aboutme h1{
  margin: 0;
}

.aboutme .name{
  color: #b16286;
  text-decoration: underline;
}

.aboutme .at{
  color: #458588;
}

.aboutme h4{
  margin-top: 10px;
  margin-bottom: 5px;
}

.aboutme .company {
  color: #c6b998;
}

.aboutme .bio {
  margin-top: -5px;
  width: 90%;
}

/* Blog content */
.line{
  margin-top: 5%;
  height: 2px;
  background: #333;
}

.blog {
  margin-top: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #c6b998;
  margin-left: 50px;
  padding-left: 95px;
}

/* Moblie view and responsive design */

@media only screen and (max-width: 2000px){
  .wrapper{ max-width: 70%; }
}

@media only screen and (max-width: 1500px){
  .wrapper{ max-width: 80%; }
}

@media only screen and (max-width: 1000px){
  .wrapper{
    padding-top: 50px;
    height: auto;
    max-width: 90%;
    min-width: 800px;
  }

  .header{
    flex-direction: column-reverse;
  }

  .profile img {
    width: 215px;
  }

  .aboutme {
    padding-top: 25px;
    padding-left: 0px;
    text-align: center;
  }

  .aboutme .bio {
    padding-top: 20px;
    text-align: justify;
    width: 100%;
  }

  .blog {
    margin-top: 0%;
    margin-left: 140px;
  }
}
