html, body{
  height: 100%;
  overflow: hidden !important;
  padding-top: 0px;
}

.wrapper{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 60%;
  min-width: 600px;
  padding-bottom: 55px;
}

.profile, .aboutme{    
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 20px, 5px;
  max-width: 40%;
  text-align: justify;
}

.profile{
  align-items: center;
  padding-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.profile img{
  width: 275px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px #00000080;
}

.aboutme {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #c6b998;
  padding-left: 150px;
  align-items: left;
}

.aboutme h1{
  margin: 0;
}

.aboutme .name{
  color: #b16286;
}

.aboutme .at{
  color: #458588;
}

.aboutme h4{
  margin-top: 10px;
  margin-bottom: 5px;
}

.aboutme a{
  color: #c6b998;
  text-decoration: none;
}

.aboutme a:hover{
  text-decoration: underline;
}

.bio {
  margin-top: -5px;
  width: 90%;
}

.bio a{
  color: #458588;
  text-decoration: none;
}

@media only screen and (max-width: 2000px){
  .wrapper{ max-width: 70%; }
}

@media only screen and (max-width: 1500px){
  .wrapper{ max-width: 80%; }
}

@media only screen and (max-width: 1000px){
  .wrapper{
    flex-direction: column-reverse;
    height: auto;
    max-width: 90%;
  }

  .profile {
    padding-top: 100px;
  }

  .profile img {
    width: 215px;
  }

  .aboutme {
    padding-top: 25px;
    padding-left: 0px;
    text-align: center;
    font-size: 17px;
  }

  .bio {
    padding-top: 20px;
    text-align: justify;
    width: 100%;
  }
}

@media only screen and (max-width: 375px) and (max-height: 670px){
  .profile img {
    visibility: hidden;
  }

  .aboutme{
    padding-bottom: 250px;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  .wrapper{
    flex-direction: row;
    padding-top: 25px;
  }

  .profile{
    padding-left: 25px;
    padding-bottom: 75px;
  }

  .aboutme {
    padding-left: 75px;
    text-align: left;
  }
}
