.navbar {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.5s;
}

.navbar a{
  color: rgba(235, 219, 178, 0.8);
  display: block;
  float: right;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(98, 96, 84);
  border-radius: 10px;
}

.linksWidth {
  width: 80%;
}

.current a{
  color: rgb(177, 98, 134);
}

/* phone resize content */
@media only screen and (max-width: 650px){
  .linksWidth{
    width: 100%;
  }
  .current a{
    text-decoration: underline;
  }
}
