/*
 * CONTENTS
 * ========
 * 00. STANDARD STYLING
 * 01. NAVBAR
 * 02. RESPONSIVE DESIGN
 */

/*
 * 00. STANDARD STYLING
 * ====================
 */

html, body {
    overflow-y: auto;
    overflow-x: hidden !important;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin: 0px;
}

body {
    background: #111016;
    font-size: 20px;
}

h1, h2, h3, h4{
    color: #FAF9F6;
}

p {
    color: #C8C7C4;
    font-size: 20px;
}

li {
    list-style-type: none;
    font-weight: bold;
}

a {
    color: #F0F0F0;
    text-decoration: none;
}

p a {
    text-decoration: underline;
    text-decoration-color: #C8C7C4;
}

a:hover{
    text-decoration: double underline;
    text-decoration-color: #C8C7C4;
}

/*
 * 01. NAVBAR STYLING
 * ==================
 */

.navbar {
    background-color: #1A1821;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.5s;
    font-size: 25px;
}

.navbar a{
    color: #F0F0F0;
    display: block;
    float: right;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #8CAAEE;
}

.navbar .linksWidth {
    width: 80%;
}

.navbar .current a{
    color: #8CAAEE;
    text-decoration-color: #F0F0F0;
}

/*
 * 02. RESPONSIVE DESIGN
 * =====================
 */

@media only screen and (max-width: 2000px){
    p { font-size: 16px; }
    .navbar { font-size: 20px; }
    .navbar .linksWidth { width: 85%; }
}

@media only screen and (max-width: 1500px){
    p { font-size: 14px; }
    .navbar { font-size: 18px; }
    .navbar .linksWidth { width: 85%; }
}

@media only screen and (max-width: 1000px){
    body { font-size: 18px; }
    .navbar .linksWidth { width: 95%; }
}

@media only screen and (max-width: 800px){
    .navbar .linksWidth { width: 100%; }
    p { font-size: 16px; }
}
