html, body{
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0px;
  overflow: hidden !important;
  padding-top: 0px;
}

body{
  background: rgb(42, 52, 64);
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 5px;
  width: 40%;
}

.navbar a {
  color: rgb(216, 222, 233);
  display: block;
  float: right;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(216, 222, 233);
  background: rgb(76, 86, 106);
  border-radius: 10px;
}

/* Main content */
.wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; 
  max-width: 80%;
  min-width: 600px;
}

.projects{    
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin: 50px;
  text-align: justify;
  background-color: rgb(216, 222, 233);
  margin-bottom: 200px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.bio{
  color: rgb(76, 86, 106);
  width: 80%;
}

.bio h2{
  margin-bottom: 0px;
  text-align: center;
}

.links{
  font-size: 18px;
  list-style: none;
  padding-left: 0px;
  text-align: left;
}

.links li{
  display: inline-block;
  margin-right: 8px;
}

.links a{
  padding: 5px;
  text-decoration: none;
}

.links a img:hover{
  background-color: rgba(0, 0, 0, 0);
}

/* phone resize content */
@media only screen and (max-width: 650px){
  .wrapper{
    margin-top: 600px; 
    flex-direction: column;
  }

  .projects{
    margin: 15px;
    max-width: 55%;
  }

  .hidden{
    visibility: hidden;
  }
}
