html, body{
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin: 0px;
}

body{
  background: #282828;
  font-size: 18px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.5s;
}

.navbar a{
  color: #c6b998;
  display: block;
  float: right;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.linksWidth {
  width: 80%;
}

.current a{
  color: #b16286;
}

@media only screen and (max-width: 650px){
  .linksWidth{ width: 100%; }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  .navbar{ visibility: hidden; }
}
