<div class="links">
    {{range .}}
    <p>
        <li>
            <a href="{{.Link}}">{{.Title}}</a>
        </li>
        <span class="date">{{.Date}}</span>
    </p>
    {{end}}
</div>

<p>Subscribe to my <a href="index.xml">RSS feed</a></p>
