<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#111016" />
        <meta
            name="description"
            content="Nathan Berry - Software Engineer passionate about command-line development and technology. Read my blog for insights on tech and life."
        />
        <title>Nathan Berry</title>
        <link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" />
    </head>

    <body>
        <header class="navbar">
            <div class="linksWidth">
                <a href="https://github.com/nathanberry97"> <img src="images/github.png" class="socials" /></a>
                <a href="https://www.linkedin.com/in/nathan-berry-7b8191115/">
                    <img src="images/linkedin.png" class="socials"
                /></a>
                <div class="current"><a>Blog</a></div>
                <a href="index.html">Home</a>
            </div>
        </header>

        <main class="blogFeed">
            <div class="blog">
                <h1>Blog posts</h1>
                <p class="intro">My thoughts about all things development, technology and life.</p>
                <div class="links">
                    {{range .}}
                    <p>
                        <li>
                            <a href="{{.Link}}">{{.Title}}</a>
                        </li>
                        <span class="date">{{.Date}}</span>
                    </p>
                    {{end}}
                </div>

                <p>Subscribe to my <a href="index.xml">RSS feed</a></p>
            </div>
        </main>
    </body>
</html>
