{{ define "Content" }}
<main class="blogFeed">
    <div class="blog">

        <h1>Blog posts</h1>

        <p class="intro">My thoughts about all things development, technology and life.</p>

        {{ .Feed }}

    </div>
</main>
{{ end }}
