{{ define "About" }}
    <div class="header">
        <h1 >Hi I'm <span class="name">{{ .Name }}</span></h1>
        <h2>Software Engineer<span class="at">@</span><a href="{{ .CompanyURL }}" class="company">{{ .CompanyName }}</a></h2>
        <p>Welcome to my little corner of the internet. This is a place I like to write about books, technology and life. If you happen to come upon my website think of it as the wilderness of my mind.</p>
    </div>
{{ end }}
