{{ define "Blog" }}
    <div class="blog">
        <h3>Latest posts</h3>
        {{ .Feed }}
        <a class="allPosts" href="/blog.html">All posts <img src="/images/icons/arrowOutward.svg" alt="arrow outward" class="outward-icon"></a>
    </div>
{{ end }}
