{{ define "Links" }}
<div class="social">
    <h1>Links</h1>
    <a href="{{ .GithubURL }}">GitHub</a> |
    <a href="{{ .LinkedinURL }}">LinkedIn</a> |
    <a href="mailto:{{ .Email }}">Email</a> |
    <a href="/index.xml">RSS Feed</a>
</div>
{{ end }}
